[Subba Reddy Yeruva](https://www.linkedin.com/in/subba-reddy-yeruva-2a5618b0)

**Python Session 1**

**Course Plan**

+ We will learn Python from basics and will cover advanced concepts
+ Language constructs, programming in Python, data cleaning and manipulation, data analysis, plotting, web scraping, textual analysis.
+ First session will focus on building blocks of the language
+ Completely hands-on approach
+ Analogies to C, R, SAS, STATA wherever applicable

**What is Python**

+ High level, general purpose programming language
+ First introduced in 1991
+ Language of choice of web programming, and scripting purposes
+ Great tool for scientific computing community, explosive growth in the scientific computing and data analytics capabilities
+ Fairly large scientific community and is used in a variety of settings such as financial research, algorithms development, options and derivatives pricing, financial modeling, trading systems, network analysis, and machine learning.

**Why Python?**

+ Simple to understand, easy to learn
+ Object oriented structure makes programming very easy
+ Platform independent 
+ Open source and has support from a huge scientific community that contributes actively to Python development
+ A number of libraries for research tasks and the capabilities are growing by the day
+ De facto choice for textual data analytics

**Important Packages**

+ NumPy: Numerical Python (NumPy) is the foundation package. Other packages and libraries are built on top of NumPy. 
+ pandas: Provides data structures and processing capabilities similar to ones found in R and Excel. Also provides time series capabilities.
+ SciPy: Collection of packages to tackle a number of computing problems in data analytics, statistics, and linear algebra.
+ matplotlib: Plotting library. Allows to plot a number of 2D graphs and will serve as primary graphics library.
+ IPython: Interactive Python shell that allows quick prototyping of code. 
+ Statsmodels: Allows data analysis, statistical model estimation, statistical tests, and regressions, and function plotting. 
+ BeautifulSoup: Python library for crawling the web. Allows you to pull data from HTML and XML pages. 
+ Scikits: A number of packages for running simulations, machine learning, data mining, optimization, and time series models. 
+ RPy: Integrates Python with R, allows calling of R commands from Python code

In [1]:
2+3

5

**Installation**

+ From App Store install ANACONDA
+ Then Download Anaconda from Google 


**Useful Sites for Learning**
+ "https://docs.python.org/3/"  # Here navigate to Tutorial
+ "http://interactivepython.org/runestone/static/thinkcspy/index.html" # In Google search for "How to Think Like a Computer Scientist"

**Useful Sites for Practise**
+ "https://www.hackerrank.com/" # Navigate to Python

**Programming in Python**

Two basic modes:

+ Interactive: Quick way of writing and testing code. Interactive in nature and gives results on the fly.
+ Interactive mode is recommended when some idea/result is to be quickly tested.
+ Script: Write complete code just like in any other language. Run all or some part of the code.
+ Code can be stored in scripts and run at a later time. 
+ Python scripts end with a .py extension

**IPython notebook**

IPython is a software package in Python that serves as a research notebook. IPython has a seamless interface using which you can write notes as well as perform data analysis in the same file. The data analysis part allows you to write the code and run it from within the notebook itself. The results also are displayed in the notebook. Among other things, IPython provides:

1. An interactive shell
2. Notebook that is browser based. The notebook supports text, code, expressions, graphs and interactive data visualization, embed images and videos, and also links to web pages on the Internet. 
3. Tools for parallel computing.
4. Import external code and run it.
5. Export the notebook in a number of formats.


**Creating an IPython notebook**

In order to create an IPython notebook, choose File -> New -> IPython notebook. 

Hitting Alt-Enter creates a new cell. A cell is nothing but a placeholder where you can write some text or execute code.

In [1]:
print ("An example of code execution in IPython")
2*3

An example of code execution in IPython

6

In [2]:
2+3

5

In order to find help on some concept, make use of ? If you want to find a function or make use of wildcard entry, make use of followed by ? A quickref command gives you a quick reference to the most commonly used commands in Python.

In [3]:
import collections
collections.namedtuple?

In [ ]:
collections.

In [4]:
import numpy as np
np.*mean*?

In [5]:
np.

SyntaxError: invalid syntax (<ipython-input-5-df0eca0bfa5c>, line 1)

Tab is a very handy feature in Python. It gives you a list of all the functions and commands that are associated with a package (such as NumPy). For example, if you type np. and then press tab, a dropdown will come up with the list of all the functions associate with np. By using this, you do not have to rememeber the functions specifics and can just use tab completion.

If you want to know the histroy of commands, make use of history command. This feature also allows you to extract code from a IPython notebook to a separate file.

In [6]:
%history

print ("An example of code execution in IPython")
2*3
2+3
import collections
collections.namedtuple?
import numpy as np
np.*mean*?
np.
%history

**Running external code files in IPython**

If you want to run external code files in Python, make use of %run command followed by the path of the file. IPython shell will execute the code and will display the results.

In [6]:
%run "C:\users\fibonacci.py"

ERROR: File `'C:\\users\\fibonacci.py'` not found.

**Syntax Formalities**

+ Python makes use of whitespace for code structuring and marking logical breaks in the code (In contrast to other programming languages that use braces)
+ Whitespace at the beginning of the line is important. This is called indentation.
+ Leading whitespace (spaces and tabs) at the beginning of the logical line is used to determine the indentation level of the logical line.
+ Statements which go together must have the same indentation. Each such set of statements is called a block.

In [9]:
i=8
j=0
if i>j:    
    print('correct')
    d = i+j 
else:
    d = i+j
    
print(d)

correct
8

In [10]:
i = 5
print ('Value is ',  i) # Error! Notice a single space at the start of the line
print ('I repeat, the value is ', i)

Value is  5
I repeat, the value is  5

**Comments** 

One line comments are denoted by (#) at the start of line and
Multiple line comments start with ''' and end with '''

In [12]:
# this is a single line comment
'''
print("We are in a comment")
print ("We are still in a comment")
'''
print("We are out of the comment")

We are out of the comment

In [3]:
#Example of indentation
'''
for x in alist:
    if x < anumber:
            print(x)
    else:
        print(-x)
        
is similar to

for x in alist 
{
    if x < anumber
    {
        print(x)
    }
    else
    {
        print(-x)
    }
}
'''

'\nfor x in alist:\n    if x < anumber:\n            print(x)\n    else:\n        print(-x)\n        \nis similar to\n\nfor x in alist \n{\n    if x < anumber\n    {\n        print(x)\n    }\n    else\n    {\n        print(-x)\n    }\n}\n'

**Variables and Data Structures**

+ Built-in data types:
Integer, Floating point, String, Boolean Values, Date and Time

+ Additional data structures:
Tuples, Lists, Dictionary

+ A variable is a name that refers to a value.
+ No need to specify type to a variable; Python automatically assigns.

<b>Program: Birds and Coconut</b><br> 
There is a small bird which can carry one third of its weight. If the bird weight is 60gms and
a coconut is 1450gms<br> how many such birds are required to carry the coconut.

In [13]:
1450 / 60 / 3   # is this correct?

8.055555555555555

Order of evautation matters? Ofcourse, yes.

In [15]:
#BODMAS

In [16]:
1450 / (60 / 3)

72.5

Variables are for identification and reusability.

In [17]:
a = 20
b = 30
print (a + b)

50

#### Primitive data Types:
There are 5 primitive data types in python.</br>
* int 
* float
* str
* bool
* complex

<b>Dynamically typed</b><br>In python variables change their data types dynamically.

In [18]:
counter = 100          # An integer assignment
miles   = 1000.0       # A floating point
name    = "ABC"        # A string

print (counter)
print (miles)
print (name)

a = 1111111111110
b = 2.0
c = "6"
d = "2"
print(b + a)
print(c  + d)

100
1000.0
ABC
1111111111112.0
62

In [19]:
#print("dtype.counter")
type(c)

str

In [20]:
x = True
type(x)

bool

In [21]:
y = 2 + 3j
type(y)

complex

<b>Program:</b> Average of three numbers

In [22]:
a = 2
b = 4
c = 5

s = a + b + c

avg = s / 3

print ('average = %s'%(avg))

average = 3.6666666666666665

# Operators

* Arithematic
* Relational
* Logical
* Assignment
* Bitwise
* Membership
* Identity

#### Arithematic
* +
* -
* *
* /
* %
* //
* \**

\+, - and * are for addition, subtraction and multiplication respectively

Note : There must be atleast one real number to get real number

In [28]:
# Playing with numbers
print (3 + 3)
print ('3' + '3')
25 * 25
25 + 25 / 2
(25 + 25)/2
25/2.0
#25/2
#float(25)/2
# float,int,str
#float(25)
#str(25)
#int('A')
# BODMAS   -> Brackets

6
33

12.5

In [29]:
7 % 4   #  % - Modulus operator gives remainder

3

In [30]:
2 ** 4  # power operator

16

In [31]:
7 // 2  #   // -  is integer division, always gives integer part of the result

3

#### Relational operators
* <
* >
* <=
* \>=
* ==
* !=

Relational operators produce boolean values

In [32]:
x = 20
y = 30

In [33]:
x > y

False

In [34]:
x != y # Alternate - x <> y

True

#### Logical Operators
* and
* or
* not 

Logical operators are used to combine multiple relational expressions into one.

In [35]:
x = 96
y = 36

In [36]:
x > 20 or y%6 == 0

True

In [37]:
(x > 96) and (y%6 == 0)

False

#### Short-hand assignment operators
```python
Below are the short hand assignment operators,

+=, -=, *=, /=, //=, %=, **=

x += 1 equivalent to x = x + 1
x -= 1 equivalent to x = x -1
x *= n equivalent to x = x * n
x /= n equivalent to x = x / n
x //= n equivalent to x = x // n
x %= n equivalent to x = x % n
x **= n equivalent to x = x ** n
```

In [ ]:
a += b   -->   a = a +b

In [38]:
x = 7
y = 4
x %= y # x = x%y
print (x)

3

In [30]:
x = 7
y = 4

x //= y
print (x)

1

**Strings**

+ In addition to numerical data processing, Python has very strong string processing capabilities. 
+ Subsets of strings can be taken using the slice operator ( [ ] and [ : ] ) with indexes starting at 0 in the beginning of the string and working their way from -1 at the end.
+ The plus ( + ) sign is the string concatenation operator and the asterisk ( * ) is the repetition operator.
+ Strings in Python are immutable. Unlike other datasets such as lists, you cannot manipulate individual string values. In order to do so, you have to take subsets of strings and form a new string. 
+ A string can be converted to a numerical type and vice versa (wherever applicable). Many a times, raw data, although numeric, is coded in string format. This feature provides a clean way to make sure all of the data is in numeric form.
+ Strings are sequence of characters and can be tokenized.
+ Strings and numbers can also be formatted.

In [39]:
my_string="python"

In [40]:
print (type(my_string))

<class 'str'>

In [41]:
my_number = 1
print (type(my_number))
my_number = 2.0
print (type(my_number))

<class 'int'>
<class 'float'>

In [ ]:
my_string.capitalize

In [42]:
my_string.capitalize()

'Python'

In [50]:
dir(my_string)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
# my_string
# p  y  t  h  o  n
# 0  1  2  3  4  5  # +ve indexing # left to right
# -6 -5 -4 -3 -2 -1 # -ve indexing # right to left

# Indexing

In [43]:
my_string[2]

't'

In [44]:
my_string

'python'

In [45]:
print (my_string[0])
print (my_string[-4])

p
t

In [46]:
my_string[0]="P"

TypeError: 'str' object does not support item assignment

In [ ]:
# Slicing

In [47]:
# my_string = "python"
print (my_string[0:3])    #--> 0 start pos, 3-1 - end 
print (my_string[:3])
print (my_string[3:6])
print (my_string[3:])
print (my_string[:])
print (my_string[:3] + my_string[3:])
# c program
# for(i=0;i<10;i++)
print (my_string[0:6:1]) # step of 1   --> 0 - start pos 6 - end pos and 1 step 
print (my_string[0:6:2]) # step of 2

pyt
pyt
hon
hon
python
python
python
pto

In [49]:
my_string1 = "abcdeffgfdhfgjhfjshgkjgkjjdl"

In [50]:
dir(my_string1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
#print (my_string[:-1:-1])

In [48]:
# P   y  t   h  o  n 
# -6 -5  -4 -3 -2  -1
my_string = 'python'

print (my_string[-3:])
print (my_string[-1:])
print (my_string[-6:])
# c program
# for (i=10;i>1;i--)
# -5 -4 -3 -2 -1 0 1 2 3 4 5 6
print (my_string[::-1])
print (my_string[6:-1:-1])

hon
n
python
nohtyp

In [ ]:
# Task 1
#my_string = "python"
#solution:
#Output  : Tython

In [51]:
my_string[2].upper()

'T'

In [52]:
my_string[1:]

'ython'

In [53]:
my_string[2].upper() + my_string[1:]

'Tython'

In [54]:
print (my_string[2].upper() + my_string[1:])
print ('T' + my_string[1:]) # prints concatenated string

Tython
Tython

In [55]:
# repetation of strings
print (my_string*2) #prints string two times

pythonpython

In [56]:
a = 'this is a string'
b = a.replace('string','longer string')
print (a)
print (b)

this is a string
this is a longer string

In [57]:
# Conversion of variables
str ="hello"
print(str[-1])



a = '20'
anum = int(a)
print (anum + anum)

a = "hi"
anum = int(a)
print (anum)

o
40

ValueError: invalid literal for int() with base 10: 'hi'

In [ ]:
# understanding how to print

In [51]:

#strlist = list(string)
#print(strlist)

format = '%.2f %s is $%d'
format %(4.5560,'Argentine Pesos',1)

'4.56 Argentine Pesos is $1'

In [58]:
string = "This is python"
print (string.count('i'))
print (string.split(' '))
print (string.upper())
print (string.lower())
print (string.swapcase())

2
['This', 'is', 'python']
THIS IS PYTHON
this is python
tHIS IS PYTHON

In [60]:
my_school = "Oxford Paul"
another_school = "st. xaviers"
town = "township"
beach = "blue"
commute = "bus"

In [61]:
# basic way of printing
print ("I study in school my_school")
print ("i study in school ", my_school , 'There is another school adjacent to us' , another_school," i live in a small ", town ,
       "we have a beach which has colour" , beach , 'we used to commute on', commute)

I study in school my_school
i study in school  Oxford Paul There is another school adjacent to us st. xaviers  i live in a small  township we have a beach which has colour blue we used to commute on bus

In [62]:
a = 'my mom's birhtday'

print(a)

SyntaxError: invalid syntax (<ipython-input-62-8ae58920ee17>, line 1)

In [64]:
a = 'my mom\'s birhtday'

print(a)

my mom's birhtday

In [65]:
add = "mon /n tue /n wed"

In [66]:
print(add)

mon /n tue /n wed

In [67]:
# type casting
# %d -> numbers, %f-> float,%s-> string , %r -> raw
print ("i study in school %s. There is another school adjancent to us %s. I live in a small %s. we have a beach which has color %s. \
We used to commute to school on %s." %(my_school,another_school,town,beach,commute))

i study in school Oxford Paul. There is another school adjancent to us st. xaviers. I live in a small township. we have a beach which has color blue. We used to commute to school on bus.

In [68]:
print ("my school is %s. I love my %s" %(my_school,my_school))

my school is Oxford Paul. I love my Oxford Paul

In [71]:
a = "my school is {ms}.I love my school {ans}".format(ms=my_school,ans=another_school)

In [72]:
a

'my school is Oxford Paul.I love my school st. xaviers'

In [70]:
# format
print ("my school is {}.I love my {}".format(my_school,my_school))
print ("my school is {}.I love my {}".format(my_school,another_school))
# my_school => 0 index
# another_school => 1 index
print ("my school is {1}.I love my {0}".format(my_school,another_school))
print ("my school is {ms}.I love my school {ans}".format(ms=my_school,ans=another_school))
print ("my school is {!s}.I love my school {!s}".format(my_school,another_school))

my school is Oxford Paul.I love my Oxford Paul
my school is Oxford Paul.I love my st. xaviers
my school is st. xaviers.I love my Oxford Paul
my school is Oxford Paul.I love my school st. xaviers
my school is Oxford Paul.I love my school st. xaviers

In [ ]:
# docstrings

In [73]:
# ''' '''
# """ """

print (""" hello world, how is it.
its a day after holiday.

""")

# Commenting
'''
this is a commented line.
Hope i will write a book next time.
'''
# '#' represents a comment.

# print my_string
# my_string

 hello world, how is it.
its a day after holiday.

'\nthis is a commented line.\nHope i will write a book next time.\n'

In [75]:
# Playing with strings
# concatenation
print ('Tues' + 'day')
print('*' * 10)
# indexing
# slicing
# %s vs %r -> raw -> str() and repr()
weeks = "\n mon \n tue \n wed \n thu \n fri \n sat"
print ("Days of a week are %s" %(weeks))
#print ("Days of a week are %r" %(weeks))

Tuesday
**********
Days of a week are
 mon
 tue
 wed
 thu
 fri
 sat

In [76]:
# INPUT VALUES
# raw_input - 2.x, input 3.x 
name = input("please enter your name:")
print (type(name))
print (name)

please enter your name:karthik
<class 'str'>
karthik

In [78]:
num = float(input("please enter a number:"))
print (type(num))
print (num)

please enter a number:abcdddd

ValueError: could not convert string to float: 'abcdddd'

In [79]:
name = input("please enter your name:")
gender = input("please enter your gender:")
roll = input("please enter your rollno:")
print (type(name),type(gender),type(roll))
print ("my name is {} and my gender is {} and my roll is {}".format(name,gender,roll))

please enter your name:subba
please enter your gender:male
please enter your rollno:1234567
<class 'str'> <class 'str'> <class 'str'>
my name is subba and my gender is male and my roll is 1234567

In [80]:
str1 = 'abc12344'

In [81]:
type(str1)

str

In [ ]:
str1.capitalize

In [82]:
str1 = "    This is a bright, sunny day      "
print (str1.strip())
print (str1.lstrip())
print (str1.rstrip())
print (":".join(str1))
print (len(str1))

This is a bright, sunny day
This is a bright, sunny day
    This is a bright, sunny day
 : : : :T:h:i:s: :i:s: :a: :b:r:i:g:h:t:,: :s:u:n:n:y: :d:a:y: : : : : :
37

#### Membership operators
#### in , not in
Checks the membership of the item/sub string in the container/string

In [76]:
school = 'ABC'
#'H' in school
'Z' in school

False

In [77]:
"xyz" not in school

True

In [83]:
x='X-DSPAM-Confidence:   0.9032'
pos = x.find(':')
print(pos)
num=float(x[pos+1:])
print (num, type(num))

18
0.9032 <class 'float'>

Few More String Functions

In [84]:
s = "hello World! 123$"
n = "123"

In [85]:
s.capitalize() # no effect on non-alphabets

'Hello world! 123$'

In [86]:
n.capitalize()

'123'

In [87]:
s = "Apple"
n = '1234'
#s.isalpha() # check the string is having only alphabets are not
n.isdigit()

True

In [88]:
s = '  Apple @@ '
print (len(s))
s = s.rstrip()
print (len(s), s)
s = s.strip('@')
print (len(s), s)

11
10   Apple @@
8   Apple

In [89]:
s = "Apple is a fruit"
l = s.split()
print (l, type(l))

['Apple', 'is', 'a', 'fruit'] <class 'list'>

In [90]:
emp_id = '1234'
emp_name = 'John Carter'
emp_salary = '456000'
# right justfied
print (emp_id.center(-5))
print (emp_name.rjust(12))
print (emp_salary.ljust(12))

# center justified
print (emp_id.center(12))
print (emp_name.center(12))
print (emp_salary.center(12))

1234
 John Carter
456000
    1234
John Carter
   456000

**Imports**

From the start, Python has been designed around the twin principles of

1. a small core language
2. extra functionality in separate libraries or modules
For example, if you want to compute the square root of an arbitrary number, theres no built in function that will perform this for you

Instead, you need to import the functionality from a module  in this case a natural choice is math

In [91]:
import math

In [92]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [ ]:
import math

In [93]:
math.sqrt(4)

2.0

In [94]:
from math import sqrt

sqrt(4)

2.0

Here from math import * pulls all of the functionality of math into the current namespace

Actually this kind of syntax should be avoided for the most part

In essence the reason is that it pulls in lots of variable names without explicitly listing them  a potential source of conflicts

**Datetime**

Python has a built-in datetime module for working with dates and times.
One can create strings from date objects and vice versa. 


Python offers very powerful and flexible datetime capabilities that are capable of operating at a scale of time measured in nano-seconds. We will look more about date time functionality in Session 3.

In [74]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\subba reddy yeruva\anaconda3\lib\site-packages
Requirement already satisfied: python-dateutil>=2 in c:\users\subba reddy yeruva\anaconda3\lib\site-packages (from pandas)
Requirement already satisfied: pytz>=2011k in c:\users\subba reddy yeruva\anaconda3\lib\site-packages (from pandas)
Requirement already satisfied: numpy>=1.7.0 in c:\users\subba reddy yeruva\anaconda3\lib\site-packages (from pandas)
Requirement already satisfied: six>=1.5 in c:\users\subba reddy yeruva\anaconda3\lib\site-packages (from python-dateutil>=2->pandas)

In [75]:
import pandas

In [95]:
from datetime import datetime, date, time
#import datetime


# Packages - open source - Pandas(data frmaes ) -> 
# Import pandas 
# !pip install pandas

date1 = datetime(2014, 5, 16, 14, 45, 5)
print(date1.day)
a = datetime.strptime('20140516','%Y%m%d')

date1 = datetime(2014, 5, 16)
date2 = datetime(2014, 5, 19)
datediff = date2 - date1
print(datediff)

16
3 days, 0:00:00

In [96]:
import time
#time.now()

In [97]:
datetime.now()  # current date

datetime.datetime(2018, 5, 28, 9, 3, 53, 497693)


**Useful Site for datetime**
+ "https://pymotw.com/3/datetime/"

In [98]:
from datetime import datetime, timedelta
s = '2017/02/28'
date = datetime.strptime(s, "%Y/%m/%d")          # strptime : Return a date representing the string
print(date)
modified_date = date + timedelta(days=2)
#datetime.strftime(modified_date, "%Y/%m/%d")     # strftime : Return a string representing the date

print(modified_date)

2017-02-28 00:00:00
2017-03-02 00:00:00

In [90]:
one_day = timedelta(days=1)

s = '2017/02/28'
date = datetime.strptime(s, "%Y/%m/%d")
print(date)
modified_date = date + one_day
datetime.strftime(modified_date, "%Y/%m/%d")

print(modified_date)

2017-02-28 00:00:00
2017-03-01 00:00:00

In [ ]:
!pip install monthdelta

In [91]:
from monthdelta import monthdelta
s = '2016/06/30'
date = datetime.strptime(s, "%Y/%m/%d")
print(date)
modified_date = date + monthdelta(-1)
datetime.strftime(modified_date, "%Y/%m/%d")

print(modified_date)

2016-06-30 00:00:00
2016-05-30 00:00:00


**Incrementing/decreasing the month - Good article**
+ "https://stackoverflow.com/questions/4130922/how-to-increment-datetime-by-custom-months-in-python-without-using-library"

+ ??? date.replace(year, month, day)                                                                                              
Return a date with the same value, except for those parameters given new values by whichever keyword arguments are specified. 
For example, if d == date(2002, 12, 31), then d.replace(day=26) == date(2002, 12, 26).

**Lists**

+ Lists, along with dictionary, are perhaps most important data types.
+ A list contains items separated by commas and enclosed within square brackets ([]).
+ All the items belonging to a list can be of different data type.
+ Lists are similar to arrays in C language.
+ The plus ( + ) sign is the list concatenation operator, and the asterisk ( * ) is the repetition operator.

List values need not be of same type.<br>
For example <br>
``` python
l1 = ['physics', 'chemistry', 1997, 2000]
l2 = [1, 2, 3, 4, 5 ]
l3 = [] # empty list
l4 = [4] # list with single value
l5 = list()
l6 = list([4, 5, 6])
```

* List is mutable.
* Python list is implemented using dynamically resizable array(vector in C++,Java etc.).
* List uses indexing to access values.
* Search operation on an unsorted list is O(n) operation.
* lists  are un-hashable

In [92]:
# Lists - Linear representation of data.
# Lists basically support homegenous and hetrogenours collection of data.
# fruits
my_fruits = ['apple',30,'banana',5,'cherry',1,'dates',2]
print (type(my_fruits))
print (my_fruits)

<class 'list'>
['apple', 30, 'banana', 5, 'cherry', 1, 'dates', 2]

In [93]:
# different ways of creation of the list.
my_empty = []
print (my_empty,type(my_empty))
my_empty = list()
print (my_empty,type(my_empty))
my_empty = ['apple',30,'banana',5,'cherry',1,'dates',2]
print (my_empty,type(my_empty))

[] <class 'list'>
[] <class 'list'>
['apple', 30, 'banana', 5, 'cherry', 1, 'dates', 2] <class 'list'>

In [94]:
# in operation
my_fruits = ['apple','banana','cherry','dates']
print ('apple' in my_fruits)
print ('Apple' in my_fruits)

True
False

In [95]:
# Iteration
for value in my_fruits:
    print (value)

apple
banana
cherry
dates

In [96]:
list = [ 'abcd', 786 , 2.23, 'abc', 70.2 ]
tinylist = [123, 'xyz']

print (list)          # Prints complete list
print (list[0])       # Prints first element of the list   #  +ve indexing (0,1,2,3...)
                                                           #  -ve indexing   (                 ,-3,-2,-1)
print (list[1:3])     # Prints elements starting from 2nd till 3rd 
print (list[2:])      # Prints elements starting from 3rd element
print (tinylist * 2)  # Prints list two times
print (list + tinylist) # Prints concatenated lists

['abcd', 786, 2.23, 'abc', 70.2]
abcd
[786, 2.23]
[2.23, 'abc', 70.2]
[123, 'xyz', 123, 'xyz']
['abcd', 786, 2.23, 'abc', 70.2, 123, 'xyz']

In [97]:
list[1]

786

In [98]:
# Converting a list to a string and vice-versa

# convert a string to list
my_string="python"
print (my_string,type(my_string))

Lmy_string= list(my_string)           #Assigning the string in list format
print (Lmy_string,type(Lmy_string))

# modified  list
Lmy_string[0]='T'
print (Lmy_string,type(Lmy_string))

python <class 'str'>

TypeError: 'list' object is not callable

In [ ]:
#limiter.join?

In [97]:
# Converting the list back to string
limiter = "|"
print (type(limiter))
string_back = limiter.join(Lmy_string)
print(string_back)

<class 'str'>
T|y|t|h|o|n

In [119]:
l = [3, 4, 6]
print (l * 3) # multiplying wiht scalar

[3, 4, 6, 3, 4, 6, 3, 4, 6]

In [120]:
b = 3*l
print(b)

[3, 4, 6, 3, 4, 6, 3, 4, 6]

In [99]:
l1 = [3, 4, 6] + [7, 8, 9]
print (l1)

[3, 4, 6, 7, 8, 9]

**List Functions**

In [ ]:
# [1,2,1,1,3]
l1.

In [101]:
numberlist = [1, 5, 23, 1 ,54,2, 54,23, 54,76, 76,34,87]
numberlist.sort(reverse=True)
print(numberlist)
print (len(numberlist))
print (max(numberlist))
print (min(numberlist))
print (sum(numberlist))

[87, 76, 76, 54, 54, 54, 34, 23, 23, 5, 2, 1, 1]
13
87
1
490

In [102]:
# Functions
my_fruits = ['apple','banana','cherry','dates']
print (my_fruits)
# How to append the list
my_fruits.append('fig')
print (my_fruits)

['apple', 'banana', 'cherry', 'dates']
['apple', 'banana', 'cherry', 'dates', 'fig']

In [103]:
my_fruits.extend(['guava','honeydue','jackfruit'])
print (my_fruits)

['apple', 'banana', 'cherry', 'dates', 'fig', 'guava', 'honeydue', 'jackfruit']

In [105]:
my_fruits.insert(3,'kiwi')
print (my_fruits)

['apple', 'banana', 'cherry', 'kiwi', 'dates', 'fig', 'guava', 'honeydue', 'jackfruit']

In [106]:
mf_indx = (my_fruits.index('kiwi'))
print (mf_indx)

3

In [107]:
print (my_fruits.pop())        # remove and return item at index 
print (my_fruits)

jackfruit
['apple', 'banana', 'cherry', 'kiwi', 'dates', 'fig', 'guava', 'honeydue']

In [108]:
print (my_fruits.pop(-2))
print (my_fruits)

guava
['apple', 'banana', 'cherry', 'kiwi', 'dates', 'fig', 'honeydue']

In [109]:
my_fruits.count('cherry')

1

In [110]:
print(my_fruits)
my_fruits.count(my_fruits[2])

['apple', 'banana', 'cherry', 'kiwi', 'dates', 'fig', 'honeydue']

1

In [111]:
my_fruits.remove('kiwi')
print(my_fruits)

# POP    - LIFO 
# Remove - FIFO

['apple', 'banana', 'cherry', 'dates', 'fig', 'honeydue']

In [112]:
my_fruits.sort()           # Asc/Desc how to do ? use my_fruits.sort(reverse=True). Default is False
print(my_fruits)

['apple', 'banana', 'cherry', 'dates', 'fig', 'honeydue']

In [113]:
my_fruits.
#print(my_fruits)

SyntaxError: invalid syntax (<ipython-input-113-d7b1db64a39c>, line 1)

List
my_days = ['yesterday','today','tomorrow','dayafter']

Task 1: print the list in the following order
yesterday 9
today     5
tomorrow  8
dayafter  8
Hint: for and len

Task2:
Yesterday
TOday
TOMorrow
DAYAfter
Hint: for and list functions, string functions